<mat-card class="wishlist__items"
          *ngFor="let product of products; let i = index">

  <img class="wishlist__items-image"
       [src]="product.product_image"
       width="120"
       alt=""/>

  <div class="wishlist__items-info">

    <div class="wishlist__items-info-title font-primary">{{ product.product_name }}</div>
    <div class="wishlist__items-info-subtitle font-secondary">{{ product.manufacturerId }}</div>

    <div class="wishlist__items-info-icon">
      <mat-icon
        class="wishlist__card--icon"
        [routerLink]="['/products/product-detail', product.id]"
      >open_in_new
      </mat-icon>

      <ng-template #reMindMe>
        <mat-icon class="wishlist__card--icon">list</mat-icon>
        <mat-icon class="wishlist__items-info-icon-field">list</mat-icon>
      </ng-template>
      <mat-icon class="wishlist__card--icon">check_circle</mat-icon>
      <mat-icon class="wishlist__card--icon">question_answer</mat-icon>
      <mat-icon class="wishlist__card--icon"> phone</mat-icon>
    </div>

    <div class="wishlist__remove">

      <button
        class="wishlist__button"
        mat-raised-button
        (click)="removeFromWishlist(product)">
        Remove
      </button>
      <button
        class="wishlist__button"
        mat-raised-button
        (click)="addProductToCart(product)">
        Add to cart
      </button>
    </div>
  </div>
</mat-card>
