<section class="card-detail" *ngIf="product">
  <img [src]="product.product_image" class="card-detail__image" alt="Product Image">
  <h1 class="card-detail__product-name">{{product.product_name}}</h1>
  <h2 class="card-detail__manufacturer">{{product.manufacturerId}}</h2>
  <h3 class="card-detail__category">{{product.categoryId}} / {{product.modelId}}</h3>
  <h4 class="card-detail__button">
    <button mat-raised-button>
      <mat-icon>shopping_cart</mat-icon>Add to cart</button>
  </h4>
  <h5 class="card-detail__icon">
    <mat-icon class="card-detail__icon-detail">check_circle</mat-icon>
    <mat-icon class="card-detail__icon-detail">contact_support</mat-icon>
    <mat-icon class="card-detail__icon-detail">description</mat-icon>
    <mat-icon class="card-detail__icon-detail">favorite_border</mat-icon>
  </h5>
</section>

